{{ define "body"}}
<body class="list">
  {{ partial "head.html" . }}
  
  <main class="main">
  <article class="post-single">
      <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
      </header>
        <div class="post-content">
        <section class="h-card">

          <!-- About me -->
          <p>Hi! I'm <span class="p-name">Lionir Deadman</span> but just can just call me <span class="p-given-name">Lio</span> for short. My pronouns are
          <a href="https://pronoun.is/he/him/his" class="p-pronoun p-pronouns"><span class="p-pronoun-nominative">he</span>/<span class="p-pronoun-oblique">him</span>/<span class="p-pronoun-possessive">his</span></a>.
          Nice to meet you!</p>
          <p class="p-note">I'm not sure how to present myself. I'd say I tend to be quite pragmatic in how I talk even though I think I'm generally rather emotionally aware and a good listener.
          I don't think that this means that my rationality is more important to me than my emotional sensibility but rather that I'm not really sure how to be useful outside of a pragmatic approach.
          <br /><br />
          I have a wide range of interests. I advocate for privacy, freedom, better working conditions and more generally human rights. I think often about how power structures (for example, capitalism)
          affect people. I like to talk about what I think is good design. I also quite enjoy anime. I'm always looking to learn new things!
          </p>

          <!-- Profile picture -->
          <figure style="display: none;" class="profile-wrapper">
              <img class="u-photo" src="/profile/{{ .Site.Author.avatar }}.png" loading="lazy" alt="Drawing of me made by my friend Phobos" />
              <figcaption class="picture-license"><a href="https://phobosketch.newgrounds.com/" target="_blank">©Phobosketch</a></figcaption>
          </figure>

          <p>Here's all my other identities :</p>

          <div class="about-columns">
          {{- range $Key, $Value := .Site.Data.identities }}
          <p><b>{{ $Key }}</b> {{ if eq $Key "Coding" }}<a class="pgpkey" rel="pgpkey" type="application/pgp-keys" href="/git.pub">(PGP Key)</a>{{ end }}<br />
          {{ $length := len . }}
          {{ $counter := 0 }}
          {{- range $name, $url := . }}
            {{ $counter = add $counter 1 }}
            <a class="u-url" rel="me" href="{{ $url }}">{{ $name }}</a>{{ if ne $counter $length }}<br />{{ else }}{{ end }}
          {{ end -}}
          </p>
          {{ end -}}
          </div>
        </section>
      </div>
  </article>
  </main>
</body>
{{ end }}
