<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    {{- partial "header.html" . -}}
</head>
    
{{- block "body" . -}}{{ end }}
<!-- Plausible & GoatCounter Analytics -->
<script async defer data-domain="thelion.website" src="https://stats.thelion.website/js/plausible.js"></script>
<script async defer data-domain="thelion.website" src="https://stats.thelion.website/js/index.outbound-links.js"></script>
<script data-goatcounter="https://thelion.goatcounter.com/count" async src="//gc.zgo.at/count.v2.js" crossorigin="anonymous" integrity="sha384-PeYXrhTyEaBBz91ANMgpSbfN1kjioQNPHNDbMvevUVLJoWrVEjDCpKb71TehNAlj"></script>
      
<footer class="footer">{{- partialCached "footer.html" . -}}</footer>
  
</html>


