{{ define "body" }}
<body class="list">
    {{ partial "head.html" . }}

    <main class="main">
      <nav class="filter-button-container pagination">
        <a class="filter-button" href="/">By Date</a>
        <a class="filter-button" href="/tags/">By Tag</a>
      </nav>
      <div class="h-feed posts">
      {{ range .Paginator.Pages.ByDate.Reverse }}
        {{ partial "article.html" . }}
      {{ end }}
      <footer class="page-footer">
        <nav class="pagination">
          {{ if .Paginator.HasPrev }}<a class="prev" rel="prev" href="{{ .Paginator.Prev.URL }}">< Previous</a>{{ else }}<!--Hidden Previous-Button-->{{ end }}
          {{ if .Paginator.HasNext }}<a class="next" rel="next" href="{{ .Paginator.Next.URL }}">Next ></a>{{ else }}<!--Hidden Next-Button-->{{ end }}
        </nav>
      </footer>
      </div>
    </main>
</body>
{{ end }}
