{{ define "body"}}
<body class="list">
  {{ partial "head.html" . }}
  
  <main class="main">
  <article class="post-single">
      <header class="post-header">
          <h1 class="post-title">Projects</h1>
      </header>
      <div class="post-content">

        <!-- Description -->
        <p>Here are some projects that I am or was involved in :</p>

        <!-- Projects list -->
        <p><b><a href="https://flathub.org">Flathub</a></b> <br />
            I maintain the Discord Flatpak but I've recently started working on updating applications from EOL runtimes all over the place.
        </p>
        <p><b><a href="https://github.com/lionirdeadman/fp-build/">fp-build</a></b> <br />
            This is a tool I made to help myself find problems before I try to make a pull request and see it fail, I've made fp-build to have things like checking for 128x128 icons, check that appstream is valid amongst other things.
        </p>
        <p><b><a href="https://github.com/lionirdeadman/fp-stats">fp-stats</a></b> <br />
            These are some python scripts to generate data about Flathub applications such as what architectures they support, what runtime they rely on. I want to expand it to check for other types of data that we might want to improve upon.
        </p>
        <p><b><a href="https://github.com/Jintaku/Jintaku-Cogs-V3">Jintaku-Cogs-V3</a></b> <br />
            These are not actively maintained cogs for <a href="https://github.com/Cog-Creators/Red-DiscordBot">Red Discord Bot</a>. I should really go fix some of them or retire them at some point in time.
        </p>

    </div>
  </article>
  </main>
</body>
{{ end }}
