{{ define "body" }}
<body class="list">
    {{ partial "head.html" . }}
    <main class="main">
      <div class="h-feed posts">
        <form id="search-form" data-language-prefix="{{ site.LanguagePrefix }}">
	      <div class="search-bar">
		      <input id="search-input" class="search-input" name="q" tabindex="0" autocomplete="off" value="Search" placeholder="Search" autofocus>
	      </div>
	      <div id="search-results" class="h-feed posts"></div>
	      <noscript>Search is not available because javascript is not available.</noscript>
      </form>
      </div>
    </main>
    <script integrity="sha384-FHzxMvopu1/0vUZ/5Dbbv4hERUU3A6a/o21iMwIOuvw4J0Kmcg4G9xc6fRR4yS8P" crossorigin="anonymous" src="{{ "/search.js" | relURL }}"></script>
</body>
{{ end }}
