{{ define "body" }}
<body class="list">
    {{ partial "head.html" . }}
      <main class="main">
      <div class="h-feed posts">
        <form id="search-form" data-language-prefix="{{ site.LanguagePrefix }}">
	      <div class="search-bar">
		      <input id="search-input" class="search-input" name="q" tabindex="0" autocomplete="off" placeholder="Click, or press 's' to search">
	      </div>
	      <div id="search-results" class="h-feed posts"></div>
        <script integrity="sha384-WLZf4mEO2WbTmaN/snqvlzc6WNkqOEO8YJ0fzzM1zxJJ11i8De2wzw5kLHS4a+lF" crossorigin="anonymous" src="{{ "/search.js" | relURL }}"></script>
	      <noscript>Search is not available because javascript is not available.</noscript>
      </form>
      </div>
    </main>
</body>
{{ end }}
