{{ define "body" }}
<body class="list">
    {{ partial "head.html" . }}

    <main class="main">
      <article class="h-entry">
          <header class="post-header">
              <h1 class="post-title p-name"><a class="u-url" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
              <br />
              <div class="post-meta">
                  Author: <a class="p-author h-card" href="{{ .Params.author_url }}">
                      {{ .Params.author }}
                  </a>
                  </span>
                  <br/>
                  <span class="dt-published post-date">Published: <time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat "Monday, 2 January, 2006" .Date }}</time></span>
                  <span>&middot;</span>
                  <span class="post-reading-time">{{ .ReadingTime }} min read</span>
                  <br/>
                  <span class="post-license">License: <a rel="license" href="{{ .Params.license_url }}">{{ .Params.license_name }}</a>.</span>
              </div>
              <br />
              <hr />
              {{ if .Params.update_message }}<div class=post-update><time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat "Monday, 2 January, 2006" .Date }}</time> : {{ .Params.update_message }}</div>{{ end }}
          </header>
          <div class="e-content post-content">{{ .Content }}
          <hr />
          {{ if .Params.syndications }}
            <h3>Share your thoughts : </h3>
            {{ $length := len .Params.syndications }}
            {{ $counter := 0 }}
            Join discussions on
            {{ range $name, $url := .Params.syndications }}
              {{ $counter = add $counter 1 }}
              <a rel="syndication" class="u-syndication" title="{{ $name }}" href="{{ $url }}">{{ $name }}</a><span>
              {{- if ne $counter $length }},{{ else }}, send me a <a href="mailto:comments@thelion.website?subject=RE: {{ $.Title }}">email</a> or message on
                {{- range $Key, $Value := $.Site.Data.identities }}
                  {{ if eq $Key "Chatting"}}
                      {{- range $Key, $Value := . }}
                        <a href="{{ $Value }}">{{ $Key }}</a>,
                      {{ end }}
                  {{ end }}
                  {{ $length2 := len . }}
                  {{ $counter2 := 0 }}
                  {{ if eq $Key "Social"}}
                      {{- range $Key, $Value := . }}
                        {{ $counter2 = add $counter2 1 }}
                        {{ if ne $counter2 $length2 }}<a href="{{ $Value }}">{{ $Key }}</a>,{{ else }} or <a href="{{ $Value }}">{{ $Key }}</a>.{{ end }}
                      {{ end }}
                  {{ end }}
                {{ end }}
              {{ end -}}
              </span>
            {{ end }}
          {{ else }}
            <h3>Share your thoughts : </h3>
            <span>Feel free to send me a <a href="mailto:comments@thelion.website?subject=RE: {{ $.Title }}">email</a> or message on
                {{- range $Key, $Value := $.Site.Data.identities }}
                  {{ if eq $Key "Chatting"}}
                      {{- range $Key, $Value := . }}
                        <a href="{{ $Value }}">{{ $Key }}</a>,
                      {{ end }}
                  {{ end }}
                  {{ $length2 := len . }}
                  {{ $counter2 := 0 }}
                  {{ if eq $Key "Social"}}
                      {{- range $Key, $Value := . }}
                        {{ $counter2 = add $counter2 1 }}
                        {{ if ne $counter2 $length2 }}<a href="{{ $Value }}">{{ $Key }}</a>,{{ else }} or <a href="{{ $Value }}">{{ $Key }}</a>.{{ end }}
                      {{ end }}
                  {{ end }}
                {{ end }}
            </span>
          {{ end }}
          </div>
      </article>
      {{ range $url, $value := .Site.Data.comments }}
        {{ if eq $url $.Page.RelPermalink }}
          <section class="comments">
            <h2>Featured comments</h2>
            {{ range . }}
              <div class="comment">
                <span class="small"><span class="username">{{ .username }}</span> from <a href="{{ .url }}">{{ .platform }}</a></span>
                <p>{{ .comment | safeHTML }}</p>
                <p class="comment-thought"><span class="comment-thought-title">Response / Thought : </span> {{ .thought | safeHTML }}</p>
              </div>
            {{ end }}
          </section>
        {{ end }}
      {{ end }}
    </main>
</body>
{{ end }}
