<article class="h-entry post-entry">
          
        <header class="entry-header">
          <h2 class="p-name"><a class="u-url" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </header>
        
        <section class="p-summary entry-content">
            {{ .Summary }}
        </section>
        
        <footer class="entry-footer {{ if .Params.tags }}entry-footer-tag{{ end }}">
          <time class="dt-published" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat "Monday, 2 January, 2006" .Date }}</time>
          {{ if .Params.tags }}
            <div class="entry-tag-container">
            {{ range .Params.tags }}
              {{- partial "tags-block.html" . -}}
            {{ end }}
            </div>
          {{ end }}
        </footer>
        
      </article>
