<header class="header">

    <!-- Navigation bar -->
    <nav class="nav">
        <a class="u-url u-uid logo" href="{{ .Site.BaseURL }}">
          {{ if eq .Kind "home" }}<h1>The Lion</h1>
          {{ else }}<span>The Lion</span>{{ end }}
        </a>
        <ul class="menu">
            <li><a href="/feeds/">Feeds</a></li><li><a href="/projects/">Projects</a></li><li><a href="/tracking/">Tracking</a></li>
        </ul>
    </nav>

    <!-- Profile picture -->
    <figure class="profile-wrapper">
        <picture>
          <source class="u-photo" srcset="/profile/{{ .Site.Author.avatar }}.avif" loading="lazy" type="image/avif" />
          <source class="u-photo" srcset="/profile/{{ .Site.Author.avatar }}.webp" loading="lazy" type="image/webp" />
          <img class="u-photo" src="/profile/{{ .Site.Author.avatar }}.jpg" loading="lazy" type="image/jpg" alt="Drawing of me made by my friend Phobos" />
        </picture>
        <figcaption class="picture-license"><a class="picture-license-a" href="https://phobosketch.newgrounds.com/" rel="noopener" target="_blank">©Phobosketch</a></figcaption>
    </figure>
    <script integrity="sha384-6Bc+qwcw0F9haPUAUe20aUcbeLjpSg9VVX1SEiwiy2PKVlxOKWa36yQU9HkIrSEp" crossorigin="anonymous" type="text/javascript" src="/jpeg-mask.js"></script>

</header>
