  {{- if eq .Kind "home" }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Site.Title }} - {{ .Page.Title }}</title>{{ end -}}
    <link rel="shortcut icon" href="{{ .Site.Params.icon }}" type="image/svg+xml" />
    <meta name="google-site-verification" content="45TezZMsSoY5qA7wC4E98BjjNJ_wUyJehNrI0G5Zh7U" />
    <meta name="msvalidate.01" content="0E905D484614E7AD2C88CEE98F6EC92E" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <meta name="theme-color" content="{{ .Site.Params.primary_colour }}" />
    {{- if eq .Kind "page" }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}
    {{- if or (eq .Kind "taxonomy") (eq .Kind "term") }}
    <meta name="robots" content="noindex" />
    {{ else if eq .Section "about" }}
    <meta name="robots" content="nofollow" />
    {{ end -}}
    <!-- Rich site data -->
    {{- if eq .Kind "page" }}<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "author": {
          "@type": "Person",
          "name": "{{ .Page.Params.author }}"
      },
      "license": "{{ .Page.Params.license_url}}",
      "headline": "{{ .Page.Title }}",
      "backstory": "{{ .Page.Summary | safeHTML }}",
      "datePublished": "{{ dateFormat "2006-01-02T15:04:05Z07:00" .Page.Date}}"
    }
    </script>{{ end -}}
    <!-- Standard meta tags -->
    {{- if eq .Kind "page" }}
    <meta name="author" content="{{ .Page.Params.author }}" />
    <meta name="title" content="{{- .Page.Title -}}" />
    <meta name="description" content="{{- .Page.Summary | plainify -}}" />
    {{ else if eq .Section "about" }}
    <meta name="author" content="{{ .Site.Author.name }}" />
    <meta name="title" content="{{- .Title -}}" />
    <meta name="description" content="{{- .Site.Params.Description | plainify -}}" />
    {{ else if eq .Kind "home" }}
    <meta name="author" content="{{ .Site.Author.name }}" />
    <meta name="title" content="{{- .Site.Title -}}" />
    <meta name="description" content="{{- .Site.Params.Description | plainify -}}" />
    {{ else }}
    <meta name="author" content="{{ .Site.Author.name }}" />
    <meta name="title" content="{{- .Page.Title -}}" />
    <meta name="description" content="{{- .Page.Summary | plainify -}}" />
    {{ end -}}
    <!-- Open Graph Tags -->
    {{- if eq .Kind "page" }}
    <meta property="og:site_name" content="{{- .Site.Title -}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{- .Page.Permalink -}}" />
    <meta property="og:title" content="{{- .Page.Title -}}" />
    <meta property="og:description" content="{{- .Page.Summary | plainify -}}" />
    {{ else if eq .Section "about" }}
    <meta property="og:type" content="profile" />
    <meta property="profile:username" content="lionirdeadman" />
    <meta property="profile:gender" content="non-binary" />
    {{ else if eq .Kind "home" }}
    <meta property="og:site_name" content="{{- .Site.Title -}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{- .Site.BaseURL -}}" />
    <meta property="og:title" content="{{- .Site.Title -}}" />
    <meta property="og:description" content="{{- .Site.Params.Description -}}" />
    {{ else }}
    <meta property="og:url" content="{{- .Page.Permalink -}}" />
    <meta property="og:title" content="{{- .Page.Title -}}" />
    <meta property="og:description" content="{{- .Page.Summary | plainify -}}" />
    {{ end -}}
    <!-- Twitter Card tags -->
    {{- if eq .Kind "page" }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{- .Page.Title -}}" />
    <meta name="twitter:description" content="{{- .Page.Summary | plainify -}}" />
    {{ end -}}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <!-- Feeds -->
    {{ if eq .Kind "term" }}
    <link rel="alternate self" type="application/atom+xml" title="Atom feed" href="atom.xml" />
    <link rel="alternate" type="application/feed+json" title="JSON feed" href="feed.json" />
    {{ else }}
    <link rel="alternate self" type="application/atom+xml" title="Atom feed" href="{{ .Site.BaseURL }}atom.xml" />
    <link rel="alternate" type="application/feed+json" title="JSON feed" href="{{ .Site.BaseURL }}feed.json" />
    {{ end }}
    <!-- Hub -->
    <link rel="hub" href="{{ .Site.Params.Websub }}">
