        {{ if or (eq .Page.Title "rss") (eq .Page.Title "imap") (eq .Page.Title "jpeg") (eq .Page.Title "lgbtq+") (eq .Page.Title "gdpr") (eq .Page.Title "suse") }}
          <a class="tags-bubble uppercase"
             href="{{ .Page.Permalink }}">
             {{ .Page.Title }} {{ if eq .Count 1 }}{{ else }}({{ .Count }}){{ end }}
          </a>
        {{ else }}
          <a class="tags-bubble capitalize"
             href="{{ .Page.Permalink }}">
             {{ .Page.Title }} {{ if eq .Count 1 }}{{ else }}({{ .Count }}){{ end }}
          </a>
        {{ end }}
