            {{ range $Key, $Value := (index .Site.Data.tracking $.Page.Params.tracking_type ) }}
            <h2>{{ $Key }}</h2>
            <table class="table">
            <tr class="table-row table-head">
              <th>Name</th>
              <th class="small-row">Rating</th>
              <th class="small-row">Status</th>
            </tr>
            {{ range sort . "name" "asc"}}
            <tr class="table-row">
              <td>{{ .name }}</td>
              <td class="small-row center-span">{{ .rating }}/10</td>
              <td class="small-row center-span">{{ .status }}</td>
            </tr>
            {{ end }}
            </table>
            {{ end }}
