{% extends "index.html" %}

{% block content %}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">About me</h1>
    </header>
      <div class="post-content">
      <section class="h-card">

        <!-- About me -->
        <p>Hi! I'm <span class="p-name">Lionir Deadman</span> but just can just call me <span class="p-given-name">Lion</span> for short. My pronouns are
        <a href="https://pronoun.is/he/him/his" class="p-pronoun p-pronouns">
          <span class="p-pronoun-nominative">he</span>/
          <span class="p-pronoun-oblique">him</span>/
          <span class="p-pronoun-possessive">his</span>
        </a> . Nice to meet you!</p>
        <p class="p-note">I never know what to say honestly. I like anime, tech, philosophy, copyleft? I'm fairly all over the place. One week or month, I'll
        be talking to you about a certain project all day long and another I'm gonna be into something completely different.</p>

        <!-- Profile picture -->
        <figure style="display: none;" class="profile-wrapper">
            <img class="u-photo" src="{{ get_url(path="/winter_elf_profile.png", trailing_slash=false ) }}" loading="lazy" alt="Drawing of me made by my friend Kuroma" />
            <figcaption class="picture-license"><a href="https://www.deviantart.com/kuroma-dyne/" target="_blank">©Kuroma</a></figcaption>
        </figure>

        <a class="u-url u-uid" alt="This website" href="https://thelion.website"></a>

        <p>Here's all my other identities :</p>

        {% if config.extra.identities_social %}
        <!-- Social -->
        <p><b>Social</b> <br />
          {% for name, url in config.extra.identities_social %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        {% if config.extra.identities_editing %}
        <!-- Editing -->
        <p><b>Editing</b> <br />
          {% for name, url in config.extra.identities_editing %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        {% if config.extra.identities_discussion %}
        <!-- Discussion -->
        <p><b>Discussion</b> <br />
          {% for name, url in config.extra.identities_discussion %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        {% if config.extra.identities_coding %}
        <!-- Coding -->
        <p><b>Coding <a href="/git.pub">(PGP Key)</a></b> <br />
          {% for name, url in config.extra.identities_coding %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        {% if config.extra.identities_tracking %}
        <!-- Tracking -->
        <p><b>Tracking</b> <br />
          {% for name, url in config.extra.identities_tracking %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        {% if config.extra.identities_chatting %}
        <!-- Chatting -->
        <p><b>Chatting</b> <br />
          {% for name, url in config.extra.identities_chatting %}
            {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}">{{ name }}</a>
            {% else %}<a class="u-url" rel="me" href="{{ url }}">{{ name}}</a> <br />
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}

        <!-- Categories -->
        <span style="display: none;" class="p-category">Blogging</span>
        <span style="display: none;" class="p-category">Free Software</span>
        <span style="display: none;" class="p-category">Privacy</span>
        <span style="display: none;" class="p-category">Web Design</span>
        <span style="display: none;" class="p-category">Philosophy</span>

      </section>
    </div>
</article>
{% endblock content %}
