{% extends "index.html" %}

{% block content %}
<style>
  .table-row {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.25fr;
  }
  .table-row span {
    margin: 7px 13px;
  }
  .table-head {
    background: #008dc9;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
  }
  .anime-header {
    text-align: center;
  }
</style>

<article class="h-entry">
    <header class="anime-header">
        <h1 class="post-title">Anime List</h1>
    </header>
      <br />
      <h2>Completed</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span>Rating</span>
          <span>Status</span>
        </div>
        {% block anime_list %}{% for anime in config.extra.anime_completed %}
        <div class="table-row">
          <span>{{ anime.name }}</span>
          <span>{{ anime.rating }}</span>
          <span>{{ anime.status }}</span>
        </div>
        {% endfor %}{% endblock anime_list %}
      </div>
</article>
{% endblock content %}
