{% extends "index.html" %}

{% block content %}
<style>
  @media only screen and (max-width: 700px) {
    .main {
      max-width: 100%;
    }
  }
</style>
<nav class="pagination">
    <a class="prev" rel="prev" href="/tracking/">< Back</a>
</nav>
<article class="h-entry table-entry">
    <header class="table-header">
        <h1 class="post-title">Anime List</h1>
    </header>
      {% if config.extra.anime_watching %}
      <br />
      <h2>Watching</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block anime_watching %}{% for anime in config.extra.anime_watching %}
        <div class="table-row">
          <span>{{ anime.name }}</span>
          <span class="center-span">{{ anime.rating }}</span>
          <span class="center-span">{{ anime.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock anime_watching %}
      </div>
      {% endif %}
      {% if config.extra.anime_completed %}
      <br />
      <h2>Completed</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block anime_completed %}{% for anime in config.extra.anime_completed %}
        <div class="table-row">
          <span>{{ anime.name }}</span>
          <span class="center-span">{{ anime.rating }}</span>
          <span class="center-span">{{ anime.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock anime_completed %}
      </div>
      {% endif %}
      {% if config.extra.anime_dropped %}
      <br />
      <h2>Dropped</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block anime_dropped %}{% for anime in config.extra.anime_dropped %}
        <div class="table-row">
          <span>{{ anime.name }}</span>
          <span class="center-span">{{ anime.rating }}</span>
          <span class="center-span">{{ anime.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock anime_dropped %}
      </div>
      {% endif %}
      {% if config.extra.anime_planned %}
      <br />
      <h2>Planned</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block anime_planned %}{% for anime in config.extra.anime_planned %}
        <div class="table-row">
          <span>{{ anime.name }}</span>
          <span class="center-span">{{ anime.rating }}</span>
          <span class="center-span">{{ anime.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock anime_planned %}
      </div>
      {% endif %}
</article>
{% endblock content %}
