{% extends "index.html" %}

{% block content %}
<style>
  @media only screen and (max-width: 700px) {
    .main {
      max-width: 100%;
    }
  }
</style>
<nav class="pagination">
    <a class="prev" rel="prev" href="/tracking/">< Back</a>
</nav>
<article class="h-entry table-entry">
    <header class="table-header">
        <h1 class="post-title">Books List</h1>
    </header>
      {% if config.extra.books_reading %}
      <br />
      <h2>Reading</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block books_reading %}{% for books in config.extra.books_reading %}
        <div class="table-row">
          <span>{{ books.name }}</span>
          <span class="center-span">{{ books.rating }}</span>
          <span class="center-span">{{ books.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock books_reading %}
      </div>
      {% endif %}
      {% if config.extra.books_completed %}
      <br />
      <h2>Completed</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block books_completed %}{% for books in config.extra.books_completed %}
        <div class="table-row">
          <span>{{ books.name }}</span>
          <span class="center-span">{{ books.rating }}</span>
          <span class="center-span">{{ books.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock books_completed %}
      </div>
      {% endif %}
      {% if config.extra.books_dropped %}
      <br />
      <h2>Dropped</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block books_dropped %}{% for books in config.extra.books_dropped %}
        <div class="table-row">
          <span>{{ books.name }}</span>
          <span class="center-span">{{ books.rating }}</span>
          <span class="center-span">{{ books.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock books_dropped %}
      </div>
      {% endif %}
      {% if config.extra.books_planned %}
      <br />
      <h2>Planned</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block books_planned %}{% for books in config.extra.books_planned %}
        <div class="table-row">
          <span>{{ books.name }}</span>
          <span class="center-span">{{ books.rating }}</span>
          <span class="center-span">{{ books.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock books_planned %}
      </div>
      {% endif %}
</article>
{% endblock content %}
