{% extends "index.html" %}

{% block content %}
<style>
  @media only screen and (max-width: 700px) {
    .main {
      max-width: 100%;
    }
  }
</style>
<nav class="pagination">
    <a class="prev" rel="prev" href="/tracking/">< Back</a>
</nav>
<article class="h-entry table-entry">
    <header class="table-header">
        <h1 class="post-title">Game List</h1>
    </header>
      {% if config.extra.games_playing %}
      <br />
      <h2>Playing</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block games_playing %}{% for games in config.extra.games_playing %}
        <div class="table-row">
          <span>{{ games.name }}</span>
          <span class="center-span">{{ games.rating }}</span>
          <span class="center-span">{{ games.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock games_playing %}
      </div>
      {% endif %}
      {% if config.extra.games_completed %}
      <br />
      <h2>Completed (100%)</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block games_completed %}{% for games in config.extra.games_completed %}
        <div class="table-row">
          <span>{{ games.name }}</span>
          <span class="center-span">{{ games.rating }}</span>
          <span class="center-span">{{ games.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock games_completed %}
      </div>
      {% endif %}
      {% if config.extra.games_dropped %}
      <br />
      <h2>Dropped</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block games_dropped %}{% for games in config.extra.games_dropped %}
        <div class="table-row">
          <span>{{ games.name }}</span>
          <span class="center-span">{{ games.rating }}</span>
          <span class="center-span">{{ games.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock games_dropped %}
      </div>
      {% endif %}
      {% if config.extra.games_planned %}
      <br />
      <h2>Planned</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block games_planned %}{% for games in config.extra.games_planned %}
        <div class="table-row">
          <span>{{ games.name }}</span>
          <span class="center-span">{{ games.rating }}</span>
          <span class="center-span">{{ games.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock games_planned %}
      </div>
      {% endif %}
</article>
{% endblock content %}
