{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
{% if page %}<html lang="en">{% else %}<html lang="en" class="h-feed">{% endif %}
    <head>
        <meta charset="UTF-8" />
        {% if page %}<title>{% else %}<title class="p-name">{% endif %}{% if page.title %}{{ config.title }} - {{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
        {% if page %}<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "author": {
              "@type": "Person",
              "name": "{{ page.extra.author }}"
          },
          "license": "{{ page.extra.license.url | safe }}",
          "headline": "{{ page.title }}",
          "backstory": "{{ page.summary | safe | striptags }}",
          "datePublished": "{{ page.date | date(format="%Y-%m-%d") }}"
        }
        </script>{% endif %}

        <link rel="shortcut icon" href="/logo.png" type="image/png" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="google-site-verification" content="45TezZMsSoY5qA7wC4E98BjjNJ_wUyJehNrI0G5Zh7U" />

        <!-- Enable responsiveness on mobile devices-->
        <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover" />

        <!-- Standard meta tags -->
        {% if page.extra.author %}<meta name="author" content="{{ page.extra.author }}" />{% endif %}
        {% if page.summary %}<meta name="description" content="{{ page.summary | safe | striptags }}" />{% endif %}

        <!-- Open Graph Tags -->
        <meta property="og:site_name" content="{{ config.title }}" />
        {% if page %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:url" content="{{ get_url(path=page.path, trailing_slash=false) }}" />
        <meta property="og:description" content="{{ page.summary | markdown(inline=true)  | safe | striptags }}" />
        {% if page.extra.banner_path %}
        <meta property='og:image' content="{{ resize_image(path=page.extra.banner_path, op="fill", format="auto") }}" />
        {% endif %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%d") }}" />
        {% if page.updated %}<meta property="article:modified_time" content="{{ page.updated | date(format="%Y-%m-%d") }}" />{% endif %}
        {% if page.extra.author_url %}<meta property="article:author" content="{{ page.extra.author_url }}" />{% endif %}
        {% else %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ get_url(path="", trailing_slash=false) }}" />
        {% endif %}

        <!-- CSS -->
        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}" />
        <link rel="preload" href="{{ get_url(path="font.css", trailing_slash=false) }}" as="style" />
        <link rel="stylesheet" href="{{ get_url(path="font.css", trailing_slash=false) }}" />
        <link rel="stylesheet" href="{{ get_url(path="Fork-Awesome/css/fork-awesome.min.css", trailing_slash=false) }}" />

        <!-- Feeds -->
        {% if config.generate_feed %}<link rel="alternate self" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="Blog posts" href="{{ get_url(path=config.feed_filename) | safe }}" />
        <link rel="hub" href="http://thelion.superfeedr.com/" /> {% endif %}

        <!-- IndieWeb -->
        <link rel="webmention" href="https://webmention.io/thelion.website/webmention" />
        <link rel="pingback" href="https://webmention.io/thelion.website/xmlrpc" />
    </head>
    

    {% if page %}<body class="single">{% else %}<body class="list">{% endif %}
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
      }
    </script>
                                                  
    {% block body %}
        <header class="header">
            <nav class="nav">
                {% if page %}
                <p class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a></p>
                {% else %}
                <h1 class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a></h1>
                {% endif %}
                <ul class="menu">
                    <li><a href="&#x2F;atom.xml"><span style="display:none;">Atom Feed</span><i class="fa fa-feed"></i></a></li>
                    {% block sidebar_nav %}{% for link in config.extra.links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}{% endblock sidebar_nav %}
                </ul>
            </nav>
            <section class="h-card p-author">

              <!-- About me -->
              <span class="p-name" style="display: none;" >Lionir Deadman</span>
              <span class="p-given-name" style="display: none;">Lion</span>
              <a style="display: none;" href="https://pronoun.is/he/him/his" class="p-pronoun p-pronouns">
                <span class="p-pronoun-nominative">he</span>/
                <span class="p-pronoun-oblique">him</span>/
                <span class="p-x-pronoun-possessive">his</span>/
              </a>
              <span class="p-note" style="display: none;" >I never know what to say honestly. I like anime, tech, philosophy, copyleft? I'm fairly all over the place. One week or month, I'll
              be talking to you about a certain project all day long and another I'm gonna be into something completely different.</span>

              <!-- Profile picture -->
              <figure class="profile-wrapper">
                  <img class="u-photo" src="{{ get_url(path="/profile.png", trailing_slash=false ) }}" loading="lazy" alt="Drawing of me made by my friend Kuroma" />
                  <figcaption class="picture-license"><a href="https://www.deviantart.com/kuroma-dyne/" target="_blank">©Kuroma</a></figcaption>
              </figure>

              <a class="u-url u-uid" href="https://thelion.website"></a>
              <a href="mailto:website@thelion.website" rel="me"></a>

              {% if config.extra.identities_social %}
              <!-- Social -->
                {% for name, url in config.extra.identities_social %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if config.extra.identities_editing %}
              <!-- Editing -->
                {% for name, url in config.extra.identities_editing %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if config.extra.identities_discussion %}
              <!-- Discussion -->
                {% for name, url in config.extra.identities_discussion %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if config.extra.identities_coding %}
              <!-- Coding -->
                {% for name, url in config.extra.identities_coding %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if config.extra.identities_tracking %}
              <!-- Tracking -->
                {% for name, url in config.extra.identities_tracking %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if config.extra.identities_chatting %}
              <!-- Chatting -->
                {% for name, url in config.extra.identities_chatting %}
                  {% if loop.last == true %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% else %}<a class="u-url" rel="me" href="{{ url }}"></a>
                  {% endif %}
                {% endfor %}
              {% endif %}

              <!-- Categories -->
              <span style="display: none;" class="p-category">Blogging</span>
              <span style="display: none;" class="p-category">Free Software</span>
              <span style="display: none;" class="p-category">Privacy</span>
              <span style="display: none;" class="p-category">Web Design</span>
              <span style="display: none;" class="p-category">Philosophy</span>

            </section>
        </header>

        <main class="main">
            {% block content %}
            <div class="posts">
                {% for page in paginator.pages %}
                {% if loop.index == 1 and paginator.current_index == 1 %}
                <article class="h-entry first-entry">{% else %}<article class="h-entry post-entry">{% endif %}
                {{ post_macros::page_in_list(page=page)}}
                </article>{% endfor %}
                <footer class="page-footer">
                    <nav class="pagination">
                        {% if paginator.previous %}<a class="prev" rel="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
                        {% if paginator.next %}<a class="next" rel="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
                    </nav>
                </footer>
            </div>
            {% endblock content %}
        </main>

        <!-- Plausible Analytics -->
        <script async defer data-domain="thelion.website" src="https://stats.thelion.website/js/plausible.js"></script>
        <script async defer data-domain="thelion.website" src="https://stats.thelion.website/js/index.outbound-links.js"></script>


        <footer class="footer">
            <span>&#127279; <a href="https://github.com/lionirdeadman/lionirdeadman.github.io">Website code under MIT</a> !</span>
            <br />
            <span>Powered by <a href="https://www.getzola.org" rel="noopener" target="_blank">Zola</a>️</span>
            <span>&middot;</span>
            <span>Theme️ forked from <a href="https://github.com/schoenenberg/zola-paper" rel="noopener" target="_blank">Zola-Paper</a></span>
            <span>&middot;</span>
            <span>Hosted on <a href="https://pages.github.com/" rel="noopener" target="_blank">GitHub Pages</a></span>
        </footer>
    {% endblock body %}
    </body>
</html>
