{% extends "index.html" %}

{% block content %}
<article class="h-entry">
    <header class="post-header">
        <h1 class="post-title p-name"><a class="u-url" title="{{ page.title }}" href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="post-meta">
            {% if page.extra.author_url %}Author: <a class="p-author h-card" href="{{ page.extra.author_url | safe }}">
                {{ page.extra.author }}
            </a>
            {% else %}<span class="p-author h-card">
                Author: {{ page.extra.author }}
            </span>{% endif %}
            <br/>
            <span class="post-date">Published: <time class="dt-published">{{ page.date | date(format="%B %e, %Y") }}</time></span>
            <span>&middot;</span>
            <span class="post-reading-time">{{ page.reading_time }} min read</span>
            <br/>
            <span class="post-license">License: <a rel="license" href="{{ page.extra.license.url }}">{{ page.extra.license.name }}</a>.</span>
        </div>
        <div class=post-update>{% if page.extra.update.message %}{{ page.extra.update.date }} : {{ page.extra.update.message }}{% endif %}</div>
    </header>
    <div class="e-content post-content">{{ page.content | safe }}
    {% if page.extra.syndications %}<hr /><span>Syndicated to : </span>{% for name, url in page.extra.syndications %}{% if loop.last == true %}<a rel="syndication" class="u-syndication" title="{{ name }}" href="{{ url }}">{{ name }}</a>{% else %}<a rel="syndication" class="u-syndication" title="{{ name }}" href="{{ url }}">{{ name }}</a><span>, </span>{% endif %}{% endfor %}{% endif %}</div>
</article>
<div class="webmentions-how-to">
  <br /><p>Click <a href="https://quill.p3k.io/?dontask=1&me=https://commentpara.de&reply={{ page.permalink }}">here</a> to send an anonymous webmention.
  If you've made a blogpost and you're not familiar with webmentions, click <a href="https://telegraph.p3k.io/send-a-webmention">here</a> and enter the details.
  You can also just reply to one of the places the post is syndicated to. Webmentions don't show here yet but you can look <a href="https://webmention.io/api/mentions.html?token=qRMJlL_XSIYiFkoG-7af2g&target={{ page.permalink }}">here</a>.</p>
</div>
{% endblock content %}
