{% extends "index.html" %}

{% block content %}
<article class="h-entry">
    <header class="post-header">
        <h1 class="post-title p-name"><a class="u-url" title="{{ page.title }}" href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <br />
        <div class="post-meta">
            {% if page.extra.author_url %}Author: <a class="p-author h-card" href="{{ page.extra.author_url | safe }}">
                {{ page.extra.author }}
            </a>
            {% else %}<span class="p-author h-card">
                Author: {{ page.extra.author }}
            </span>{% endif %}
            <br/>
            <span class="post-date">Published: <time class="dt-published" datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%Y-%m-%d") }}</time></span>
            <span>&middot;</span>
            <span class="post-reading-time">{{ page.reading_time }} min read</span>
            <br/>
            <span class="post-license">License: <a rel="license" href="{{ page.extra.license.url }}">{{ page.extra.license.name }}</a>.</span>
        </div>
        <br />
        <hr />
        <div class=post-update>{% if page.extra.update.message %}<time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.extra.update.date | date(format="%Y-%m-%d") }}</time> : {{ page.extra.update.message }}{% endif %}</div>
    </header>
    <div class="e-content post-content">{{ page.content | safe }}
    <hr />
    {% if page.extra.syndications %}<span>Syndicated to : </span>{% for name, url in page.extra.syndications %}{% if loop.last == true %}<a rel="syndication" class="u-syndication" title="{{ name }}" href="{{ url }}">{{ name }}</a>{% else %}<a rel="syndication" class="u-syndication" title="{{ name }}" href="{{ url }}">{{ name }}</a><span>, </span>{% endif %}{% endfor %}{% endif %}</div>
</article>
{% endblock content %}
