{% macro page_in_list(page) %}
                <header class="entry-header">
                    <h2 class="p-name"><a class="u-url" title="{{ page.title }}" href="{{ page.permalink }}">{{ page.title }}</a></h2>
                </header>
                {% if page.summary %}<section class="p-summary entry-content">
                {{ page.summary | safe }}                 </section>{% endif %}
                <footer class="entry-footer">
                    <time class="dt-published" datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%Y-%m-%d") }}</time>
                </footer>
{% endmacro page_in_list %}
