{% extends "index.html" %}

{% block content %}
<style>
  @media only screen and (max-width: 700px) {
    .main {
      max-width: 100%;
    }
  }
</style>
<nav class="pagination">
    <a class="prev" rel="prev" href="/tracking/">< Back</a>
</nav>
<article class="h-entry table-entry">
    <header class="table-header">
        <h1 class="post-title">TV series/movies List</h1>
    </header>
      {% if config.extra.tv_watching %}
      <br />
      <h2>Watching</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block tv_watching %}{% for tv in config.extra.tv_watching %}
        <div class="table-row">
          <span>{{ tv.name }}</span>
          <span class="center-span">{{ tv.rating }}</span>
          <span class="center-span">{{ tv.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock tv_watching %}
      </div>
      {% endif %}
      {% if config.extra.tv_completed %}
      <br />
      <h2>Completed</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block tv_completed %}{% for tv in config.extra.tv_completed %}
        <div class="table-row">
          <span>{{ tv.name }}</span>
          <span class="center-span">{{ tv.rating }}</span>
          <span class="center-span">{{ tv.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock tv_completed %}
      </div>
      {% endif %}
      {% if config.extra.tv_dropped %}
      <br />
      <h2>Dropped</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block tv_dropped %}{% for tv in config.extra.tv_dropped %}
        <div class="table-row">
          <span>{{ tv.name }}</span>
          <span class="center-span">{{ tv.rating }}</span>
          <span class="center-span">{{ tv.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock tv_dropped %}
      </div>
      {% endif %}
      {% if config.extra.tv_planned %}
      <br />
      <h2>Planned</h2>
      <br />
      <div class="table">
        <div class="table-row table-head">
          <span>Name</span>
          <span class="center-span">Rating</span>
          <span class="center-span">Status</span>
        </div>
        {% block tv_planned %}{% for tv in config.extra.tv_planned %}
        <div class="table-row">
          <span>{{ tv.name }}</span>
          <span class="center-span">{{ tv.rating }}</span>
          <span class="center-span">{{ tv.status }}</span>
        </div>
        <hr />
        {% endfor %}{% endblock tv_planned %}
      </div>
      {% endif %}
</article>
{% endblock content %}
